/* ======================================================== COMPASS IMPORTS */

@import 'compass/css3/images', 'compass/support', 'compass/css3/pie';

$legacy-support-for-ie: true;
$legacy-support-for-ie6: false;
$experimental-support-for-svg: true;

/* ======================================================== FONTS & COLORS */