
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

%font-header {font-family: 'Droid Serif', serif;}
%font-copy {font-family: 'Droid Sans', sans-serif;}

$blue: blue;
$red: red;
$content-color: #555;

$linkcolor: $blue;
$linkhovercolor: $red;
