%maintainfloat {overflow: hidden;}
%table {display:table; width:100%;}
%trow {display:table-row;}
%tcell {display:table-cell; vertical-align:middle; *display:inline; *zoom:1;}
%font-smoothing {-webkit-font-smoothing: antialiased;}
%nowrap {white-space:nowrap;}

*, *:before, *:after {margin:0px; padding:0px; outline:0; border:0px; background-repeat:no-repeat; @include box-sizing(border-box);}
html {-webkit-overflow-scrolling:touch; -webkit-tap-highlight-color:rgba(0,0,0,0.3); -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body, input, textarea, select {font-size:14px; font-family:Arial, sans-serif;}
article, aside, figure, footer, header, hgroup, nav, section {display:block;}
header, footer {cursor:default;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
ul, ol {list-style-type:none;}
table {border-collapse:collapse;}
th, td {vertical-align:baseline;}
th {text-align:left;}
a {text-decoration:none;}
del {text-decoration:line-through;}
sup, sub {line-height:1em;}
img {display:block;}

input {*line-height:1em; overflow:visible; -webkit-appearance:none; @include border-radius(0);}
input[type=submit], input[type=button] {cursor:pointer; background-color:transparent;}
input[type=submit]::-moz-focus-inner {padding:0; border:none;}
textarea {resize:vertical;}

table.valignmiddle td {vertical-align:middle;}
img[align=left], .alignleft {margin:0.5em 2em 1em 0;}
img[align=right], .alignright {margin:0.5em 0 1em 2em;}
img.wp-smiley {display:inline; vertical-align:middle;}

.hidetext {text-indent:100%; white-space:nowrap; overflow:hidden;}
.hide {display:none;}
.floatleft, .alignleft {float:left;}
.floatright, .alignright {float:right;}
.selfclear {overflow:hidden;}
.clearfix {*zoom:1; &:before,&:after {content:""; display:table;} &:after {clear:both;}}
.clearfloat {float:none; display:block; clear:both; height:0;}
.textleft {text-align:left;}
.textcenter {text-align:center;}
.textright {text-align:right;}
.noborder {border:0;}
.nowrap {@extend %nowrap;}
.linethrough {text-decoration:line-through;}
.table {@extend %table;}
.trow {@extend %trow;}
.tcell {@extend %tcell;}
.fillercell {width:100%;}
.screen-reader-text {display:none;}

.loggedinhide, .logged-in .loggedinshow {display:block;}
.loggedinshow, .logged-in .loggedinhide {display:none;}

@media screen {
	.forprint {display:none;}
}
@media print {
	* {
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	.noprint {display:none;}
	.pagebreak {page-break-before:always;}
	h1, h2, h3, h4, h5, h6	{page-break-after:avoid;}
	h1, h2, h3, h4, h5, h6, p, ul, ol {orphans:3; widows:3;}
	img {max-width:100% !important; height:auto; page-break-inside:avoid;}
}

.tabletsm-show, .mobile-show, .mobilelg-show, .mobilesm-show {display:none;}

@media ($tabletsm) {
	.desktop-show, .tablet-hide {display:none !important;}
	.tablet-show, .tabletsm-show {display:inherit;}
}
@media ($mobilelg) {
	.tabletsm-show, .tablet-show, .mobile-hide {display:none !important;}
	.mobilelg-show, .mobile-show {display:inherit;}
	a {word-wrap:break-word;}
}
@media ($mobilesm) {
	.mobilelg-show {display:none !important;}
	.mobilesm-show, .mobile-show {display:inherit;}
}
