
// Everyone needs these.
@import 'variables', 'mixins', 'design', 'reset', 'reset-content';

// Basics. Feel free to add more.
@import 'layout';
@import 'header', 'front-page', 'content', 'sidebar', 'footer';
@import 'ie';

// Add page-specific imports here.

<<<<<<< HEAD
.centered {
	position: relative;
	margin: 0 auto;
	min-width: $cntrminwidth;
	max-width: $cntrmaxwidth;
	padding: 0 $cntrpad;
}
$iconsprite: '.iconsprite';
#{$iconsprite} {background-image: url(images/sprite.png);}

//  HEADER  ////////////////////////////////////////////////////////////////

header.site {
}
#logo {
	width: 200px;
	height: 100px;
	
	a {
		display: block;
		width: 100%;
		height: 100%;
		background-image: url(images/logo.png);
		background-position: 50%;
		text-indent: -9999px;
	}
}

//  SUBNAV  ////////////////////////////////////////////////////////////////

#subnav {
	ul {
		@extend .nobullets;
	}
	li {
		padding: 0;
	}
	a {
		display: block;
	}
	ul ul {
		display: none;
	}
	.current_page_item, .current_page_ancestor, .current-cat {
		ul {display:block;}
	}
}

//  FOOTER  ////////////////////////////////////////////////////////////////

footer.site {
}

//  RESPONSIVE  ////////////////////////////////////////////////////////////////
=======
>>>>>>> dev

// Mobile devices.
@import 'responsive';
<<<<<<< HEAD

//  HIDPI SCREENS  ////////////////////////////////////////////////////////////////

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (-moz-min-device-pixel-ratio:2), only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min-device-pixel-ratio:2) {

#logo a {background-image:url(images/logo@2x.png); background-size: 200px 100px;}
#{$iconsprite} {background-image: url(images/sprite@2x.png); background-size: 200px 50px;}

}
=======
>>>>>>> dev
